/* The side navigation menu */

.a {
    color: #403630;
    text-decoration: none;
}
.profile {
    color: rgb(242 , 242, 242);
    text-decoration: none;
  }
  .social-l {
    position: fixed;
    top: 70px;
  }
  .social-l ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
  }
  .social-l ul li {
    display: block;
    margin: 15px;
    background: rgb(111 , 98, 90);
    width: 300px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .social-l ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: rgb(64 , 54, 48);
  }
  .social-l ul li:hover a {
    color: rgb(185 , 185, 185);
  }
  .social-l ul li:hover i {
    color: rgb(64 , 54, 48);
    background: rgb(185 , 185, 185);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .social-l ul li i {
    color: rgb(185 , 185, 185);
    background: rgb(242 , 242, 242);
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: rgb(64, 54, 48);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    border: 0.1rem solid rgb(185, 185, 185);
    
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 19px;
    color: rgb(242, 242, 242);
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: rgb(185, 185, 185);
}

.dropdown-btn {
    padding: 6px 8px 8px 32px;
    text-decoration: none;
    font-size: 19px;
    color: rgb(242, 242, 242);
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-btn:hover {
    color: rgb(185, 185, 185);
}

.dropdown-container {
    display: none;
   
    color: rgb(185, 185, 185);
    padding-left: 8px;
}


.time-link{
    text-decoration: none;
    color: rgb(64 , 54, 48);
    font-weight: bold;
}
.time-link:hover{
    color: rgb(111 , 98, 90);
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.menu2 {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.top-social a {
    padding: 1.3rem;
    color: #403630;
    display: flex;
    border: 0.1rem solid #403630;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 3%;
}

.top-social {
    padding: 1.4rem 1.5rem;
    margin-top: 14rem;
}

.top-social a:hover {
    color: rgb(242, 242, 242);
    border: 0.1rem solid rgb(242, 242, 242);
}

.navbar-brand2 {
    position: absolute;
    left: 45%;
    color: rgb(242, 242, 242);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

.navbar-brand2:hover {
    color: rgb(185, 185, 185);
}

.navbar {
    min-height: 4rem;
    background-color: rgb(64, 54, 48);
}


.foot-service {
    text-decoration: none;
    color: rgb(185 185 185);
}

.foot-service:hover {
    color: rgb(242 242 242);
}




.ksfooter {background-color: #403630;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    padding-left: 40%;
   opacity: 0.8;
   color: rgb(185, 185, 185);
   text-decoration: none;
    color: rgb(185, 185, 185);
   
}

.ksfooter:hover {
    color: rgb(242, 242, 242);
}

.home {
    content: '';
    position: absolute;
    left: 0;
    display: flex;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: var(--z-overlay);
}


/*You can add css here*/








































/*Timeline*/

.time-con {
    position: absolute;
    top: 40%;
    left: 7%;
    max-width: 1140px;
   

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul::after {
    content: "";
    display: block;
    clear: both;
}

ul.timeline {
    display: flex;
    flex-wrap: wrap;
  
    margin-top: 20%;
    margin-left: 20%;
}

ul.timeline>li {
    width: calc( 100% / 7);
}

ul.timeline>li:nth-of-type(odd)>.content {
    transform: translateY(calc(-100% - 24px));
}

ul .year {
    color: rgb(242, 242, 242);
    background: rgb(111, 98, 90);
    display: block;
    position: relative;
    height: 15px;
    
   
}

ul .year::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: rgb(185, 185, 185);
    border-radius: 50%;
    left: -19px;
    top: calc( (40 - 24) / 2 * -1px);
}

ul .year.new {
    border-radius: 0 24px 24px 0;
}

ul .content {
    border-left: 8px solid rgb(185, 185, 185);
    margin-left: -8px;
    padding: 25px 0;
    padding-right: 24px;
    margin-bottom: 10px;
}

ul .content>li {
    padding-left: 30px;
    border-bottom: 4px solid #eef4f7;
    padding-bottom: 8px;
    position: absolute;
    margin-left: -7px;
}

ul .content>li:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
}

ul .content>li::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #eef4f7;
    left: 10px;
    top: 10px;
}

@media screen and (max-width: 1140px) {
    ul.timeline>li {
        width: calc( 100% / 4);
    }
}

@media screen and (max-width: 991px) {
    ul.timeline>li {
        width: calc( 100% / 2);
    }
}

@media screen and (max-width: 767px) {
    ul.timeline {
        display: block;
    }
    ul.timeline>li {
        width: 100%;
    }
    ul.timeline>li:nth-of-type(odd) .content {
        transform: none;
    }
}

body,html {
    min-height: 100vh;
    position: relative;

    /* Location of the image */
    background-image: url(images/background-photo.jpg);
    
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;
    
    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
  }
  
  /* For mobile devices */
  @media only screen and (max-width: 767px) {
    body {
      /* The file size of this background image is 93% smaller
       * to improve page load speed on mobile internet connections */
      background-image: url(images/background-photo-mobile-devices.jpg);
    }
      }


     
    
    @media screen and (max-width: 991px) {
        .ksfooter {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 100%;
        }
    }
    
    @media screen and (max-width: 767px) {
        .ksfooter {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
             
            width: 100%;
            
        }
       
    }